<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Cat Walk</title>
 </head>
 <body>
  
<img style="position: absolute; left: 140px;" src="./static/cat.gif" onmouseover="PlaySound('mySound')">
  

<audio id='mySound' src='http://www.kessels.com/catsounds/nini.wav'/>
  <script>
var left = 'cat-left-position';
var right = 'cat-walk-forwards';

var img = document.getElementsByTagName('img')[0];

img.style.left = '0px';
var walkForwards = true;
img.style.left = localStorage.getItem(left);       
if (localStorage.getItem(right) !== null) {
	walkForwards = (localStorage.getItem(right) == 'true');
}

function PlaySound(soundobj) {
    var thissound=document.getElementById(soundobj);
    thissound.play();
}    
    
    
function catWalk() {
  var currentLeft = parseInt(img.style.left);

  if (walkForwards && (currentLeft > (window.innerWidth-img.width))) {
    walkForwards = false;
    localStorage.setItem(right, false);
  }
  if (!walkForwards && (currentLeft <= 0)) {
    walkForwards = true;
    localStorage.setItem(right, true);
  }
  
  if (walkForwards) {
    img.style.left = (currentLeft + 10) + 'px';
  } else {
    img.style.left = (currentLeft - 10) + 'px';
  }
  localStorage.setItem(left, img.style.left);
}
window.setInterval(catWalk, 50);
    
    

  </script>

 
</body></html>