<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Mad Libs</title>
 </head>
 <body>
 
 <h1>Mad Libs</h1>
 
 <ul>
  <li>Noun: <input type="text" id="noun">
  </li><li>Adjective: <input type="text" id="adjective">
  </li><li>Someone's Name: <input type="text" id="name">
 </li></ul>
 
 <button id="lib-button">Lib it!</button>
  
 <div id="story"></div>
  
 <div id="old"></div>

  <script>
  window.addEventListener('load', function(event)
 {
	Phrases(); 
});
    
window.addEventListener('unload', function(event) {
	olds();
});  
    
    
var lstorage = '';
var array = [];

function libIt() {
  var storyDiv = document.getElementById("story");
  var name = document.getElementById("name").value;
  var adjective = document.getElementById("adjective").value;
  var noun = document.getElementById("noun").value;
  var story = name + " married a " + adjective + " " + noun + "... So weird!";
  storyDiv.innerHTML = story;
  array.push(story);
}
var libButton = document.getElementById('lib-button');
libButton.addEventListener('click', libIt);

function Phrases() 
    {
	var storage = localStorage.getItem(lstorage);
	if (storage)
  {
		array = JSON.parse(storage);
	}
	for (var i=0; i < array.length; i++) 
  {
		document.getElementById('old').innerHTML += array[i];
	}
}

function olds() 
    {	
localStorage.setItem(lstorage, JSON.stringify(array));
}

</script>
</body>
</html>