<!doctype html>
<html class="no-js" lang="en" manifest="calc.appcache">
  <head>
     <link href={{ url_for('static', filename='calc.css') }} rel="stylesheet" type="text/css">
    
  </head>
<body>
<img src="http://www.thebiblescholar.com/android_awesome.jpg" alt="Droid" width="160" height="142">

  <div id="calculator">
	<!-- Screen and clear key -->
	<div class="top">
		<span class="clear">C</span>
		<div class="screen"></div>
	</div>
	
	<div class="keys">
		<!-- operators and other keys -->
		<span>7</span>
		<span>8</span>
		<span>9</span>
		<span class="operator">+</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span class="operator">-</span>
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span class="operator">÷</span>
		<span>0</span>
		<span>.</span>
		<span class="eval">=</span>
		<span class="operator">x</span>
	</div>
</div>
   <script src={{ url_for('static', filename='calc.js') }} type="text/javascript" type="text/javascript"></script>
  </body>
</html>
